target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/*
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/test/resources/generated_Testing_EntireRequirements.xml
/src/test/resources/generated_Requirements.xml
/src/test/resources/generated_RequirementsHint.xml
/src/test/resources/generated_RequirementsASVS.xml
/src/test/resources/generated_populated_requirements.xml
/src/test/resources/generated_populated_requirements_hint.xml

src/test/resources/generated_*.xml
