target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/*
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/test/resources/generated_Testing_EntireRequirements.xml
/src/test/resources/generated_populated_requirements_with_CVEs.xml
/src/test/resources/generated_populated_requirements_with_Spyderisk.xml
/src/test/resources/generated_populated_requirements_with_Spyderisk_equivalences.xml
/src/test/resources/generated_populated_requirements_with_Spyderisk_equivalences_and_types.xml
/src/test/resources/generated_populated_requirements_with_Spyderisk_import.xml
/src/test/resources/generated_requirements_with_dates.xml
/src/test/resources/cache_merged/optbypass.csv
/src/test/resources/cache_merged/optcsrf.csv
/src/test/resources/cache_merged/optdir_traversal.csv
/src/test/resources/cache_merged/optdos.csv
/src/test/resources/cache_merged/optexeccode.csv
/src/test/resources/cache_merged/optfileinc.csv
/src/test/resources/cache_merged/optgainpriv.csv
/src/test/resources/cache_merged/optinfleak.csv
/src/test/resources/cache_merged/optinputval.csv
/src/test/resources/cache_merged/optmemc.csv
/src/test/resources/cache_merged/optopenredir.csv
/src/test/resources/cache_merged/optoverflow.csv
/src/test/resources/cache_merged/optsql_injection.csv
/src/test/resources/cache_merged/optssrf.csv
/src/test/resources/cache_merged/optxss.csv
/src/test/resources/cache_merged/optxxe.csv
/src/test/resources/cache_queries/isBypass_2015.tsv
/src/test/resources/cache_queries/isBypass_2016.tsv
/src/test/resources/cache_queries/isBypass_2017.tsv
/src/test/resources/cache_queries/isBypass_2018.tsv
/src/test/resources/cache_queries/isBypass_2019.tsv
/src/test/resources/cache_queries/isBypass_2020.tsv
/src/test/resources/cache_queries/isBypass_2021.tsv
/src/test/resources/cache_queries/isBypass_2022.tsv
/src/test/resources/cache_queries/isBypass_2023.tsv
/src/test/resources/cache_queries/isBypass_2024.tsv
/src/test/resources/cache_queries/isBypass_2025.tsv
/src/test/resources/cache_queries/isCodeExecution_2015.tsv
/src/test/resources/cache_queries/isCodeExecution_2016.tsv
/src/test/resources/cache_queries/isCodeExecution_2017.tsv
/src/test/resources/cache_queries/isCodeExecution_2018.tsv
/src/test/resources/cache_queries/isCodeExecution_2019.tsv
/src/test/resources/cache_queries/isCodeExecution_2020.tsv
/src/test/resources/cache_queries/isCodeExecution_2021.tsv
/src/test/resources/cache_queries/isCodeExecution_2022.tsv
/src/test/resources/cache_queries/isCodeExecution_2023.tsv
/src/test/resources/cache_queries/isCodeExecution_2024.tsv
/src/test/resources/cache_queries/isCodeExecution_2025.tsv
/src/test/resources/cache_queries/isCsrf_2015.tsv
/src/test/resources/cache_queries/isCsrf_2016.tsv
/src/test/resources/cache_queries/isCsrf_2017.tsv
/src/test/resources/cache_queries/isCsrf_2018.tsv
/src/test/resources/cache_queries/isCsrf_2019.tsv
/src/test/resources/cache_queries/isCsrf_2020.tsv
/src/test/resources/cache_queries/isCsrf_2021.tsv
/src/test/resources/cache_queries/isCsrf_2022.tsv
/src/test/resources/cache_queries/isCsrf_2023.tsv
/src/test/resources/cache_queries/isCsrf_2024.tsv
/src/test/resources/cache_queries/isCsrf_2025.tsv
/src/test/resources/cache_queries/isDenialOfService_2015.tsv
/src/test/resources/cache_queries/isDenialOfService_2016.tsv
/src/test/resources/cache_queries/isDenialOfService_2017.tsv
/src/test/resources/cache_queries/isDenialOfService_2018.tsv
/src/test/resources/cache_queries/isDenialOfService_2019.tsv
/src/test/resources/cache_queries/isDenialOfService_2020.tsv
/src/test/resources/cache_queries/isDenialOfService_2021.tsv
/src/test/resources/cache_queries/isDenialOfService_2022.tsv
/src/test/resources/cache_queries/isDenialOfService_2023.tsv
/src/test/resources/cache_queries/isDenialOfService_2024.tsv
/src/test/resources/cache_queries/isDenialOfService_2025.tsv
/src/test/resources/cache_queries/isDirectoryTraversal_2015.tsv
/src/test/resources/cache_queries/isDirectoryTraversal_2016.tsv
/src/test/resources/cache_queries/isDirectoryTraversal_2017.tsv
/src/test/resources/cache_queries/isDirectoryTraversal_2018.tsv
/src/test/resources/cache_queries/isDirectoryTraversal_2019.tsv
/src/test/resources/cache_queries/isDirectoryTraversal_2020.tsv
/src/test/resources/cache_queries/isDirectoryTraversal_2021.tsv
/src/test/resources/cache_queries/isDirectoryTraversal_2022.tsv
/src/test/resources/cache_queries/isDirectoryTraversal_2023.tsv
/src/test/resources/cache_queries/isDirectoryTraversal_2024.tsv
/src/test/resources/cache_queries/isDirectoryTraversal_2025.tsv
/src/test/resources/cache_queries/isFileInclusion_2015.tsv
/src/test/resources/cache_queries/isFileInclusion_2016.tsv
/src/test/resources/cache_queries/isFileInclusion_2017.tsv
/src/test/resources/cache_queries/isFileInclusion_2018.tsv
/src/test/resources/cache_queries/isFileInclusion_2019.tsv
/src/test/resources/cache_queries/isFileInclusion_2020.tsv
/src/test/resources/cache_queries/isFileInclusion_2021.tsv
/src/test/resources/cache_queries/isFileInclusion_2022.tsv
/src/test/resources/cache_queries/isFileInclusion_2023.tsv
/src/test/resources/cache_queries/isFileInclusion_2024.tsv
/src/test/resources/cache_queries/isFileInclusion_2025.tsv
/src/test/resources/cache_queries/isGainPrivilege_2015.tsv
/src/test/resources/cache_queries/isGainPrivilege_2016.tsv
/src/test/resources/cache_queries/isGainPrivilege_2017.tsv
/src/test/resources/cache_queries/isGainPrivilege_2018.tsv
/src/test/resources/cache_queries/isGainPrivilege_2019.tsv
/src/test/resources/cache_queries/isGainPrivilege_2020.tsv
/src/test/resources/cache_queries/isGainPrivilege_2021.tsv
/src/test/resources/cache_queries/isGainPrivilege_2022.tsv
/src/test/resources/cache_queries/isGainPrivilege_2023.tsv
/src/test/resources/cache_queries/isGainPrivilege_2024.tsv
/src/test/resources/cache_queries/isGainPrivilege_2025.tsv
/src/test/resources/cache_queries/isInformationLeak_2015.tsv
/src/test/resources/cache_queries/isInformationLeak_2016.tsv
/src/test/resources/cache_queries/isInformationLeak_2017.tsv
/src/test/resources/cache_queries/isInformationLeak_2018.tsv
/src/test/resources/cache_queries/isInformationLeak_2019.tsv
/src/test/resources/cache_queries/isInformationLeak_2020.tsv
/src/test/resources/cache_queries/isInformationLeak_2021.tsv
/src/test/resources/cache_queries/isInformationLeak_2022.tsv
/src/test/resources/cache_queries/isInformationLeak_2023.tsv
/src/test/resources/cache_queries/isInformationLeak_2024.tsv
/src/test/resources/cache_queries/isInformationLeak_2025.tsv
/src/test/resources/cache_queries/isInputValidation_2015.tsv
/src/test/resources/cache_queries/isInputValidation_2016.tsv
/src/test/resources/cache_queries/isInputValidation_2017.tsv
/src/test/resources/cache_queries/isInputValidation_2018.tsv
/src/test/resources/cache_queries/isInputValidation_2019.tsv
/src/test/resources/cache_queries/isInputValidation_2020.tsv
/src/test/resources/cache_queries/isInputValidation_2021.tsv
/src/test/resources/cache_queries/isInputValidation_2022.tsv
/src/test/resources/cache_queries/isInputValidation_2023.tsv
/src/test/resources/cache_queries/isInputValidation_2024.tsv
/src/test/resources/cache_queries/isInputValidation_2025.tsv
/src/test/resources/cache_queries/isMemoryCorruption_2015.tsv
/src/test/resources/cache_queries/isMemoryCorruption_2016.tsv
/src/test/resources/cache_queries/isMemoryCorruption_2017.tsv
/src/test/resources/cache_queries/isMemoryCorruption_2018.tsv
/src/test/resources/cache_queries/isMemoryCorruption_2019.tsv
/src/test/resources/cache_queries/isMemoryCorruption_2020.tsv
/src/test/resources/cache_queries/isMemoryCorruption_2021.tsv
/src/test/resources/cache_queries/isMemoryCorruption_2022.tsv
/src/test/resources/cache_queries/isMemoryCorruption_2023.tsv
/src/test/resources/cache_queries/isMemoryCorruption_2024.tsv
/src/test/resources/cache_queries/isMemoryCorruption_2025.tsv
/src/test/resources/cache_queries/isOpenRedirect_2015.tsv
/src/test/resources/cache_queries/isOpenRedirect_2016.tsv
/src/test/resources/cache_queries/isOpenRedirect_2017.tsv
/src/test/resources/cache_queries/isOpenRedirect_2018.tsv
/src/test/resources/cache_queries/isOpenRedirect_2019.tsv
/src/test/resources/cache_queries/isOpenRedirect_2020.tsv
/src/test/resources/cache_queries/isOpenRedirect_2021.tsv
/src/test/resources/cache_queries/isOpenRedirect_2022.tsv
/src/test/resources/cache_queries/isOpenRedirect_2023.tsv
/src/test/resources/cache_queries/isOpenRedirect_2024.tsv
/src/test/resources/cache_queries/isOpenRedirect_2025.tsv
/src/test/resources/cache_queries/isOverflow_2015.tsv
/src/test/resources/cache_queries/isOverflow_2016.tsv
/src/test/resources/cache_queries/isOverflow_2017.tsv
/src/test/resources/cache_queries/isOverflow_2018.tsv
/src/test/resources/cache_queries/isOverflow_2019.tsv
/src/test/resources/cache_queries/isOverflow_2020.tsv
/src/test/resources/cache_queries/isOverflow_2021.tsv
/src/test/resources/cache_queries/isOverflow_2022.tsv
/src/test/resources/cache_queries/isOverflow_2023.tsv
/src/test/resources/cache_queries/isOverflow_2024.tsv
/src/test/resources/cache_queries/isOverflow_2025.tsv
/src/test/resources/cache_queries/isSqlInjection_2015.tsv
/src/test/resources/cache_queries/isSqlInjection_2016.tsv
/src/test/resources/cache_queries/isSqlInjection_2017.tsv
/src/test/resources/cache_queries/isSqlInjection_2018.tsv
/src/test/resources/cache_queries/isSqlInjection_2019.tsv
/src/test/resources/cache_queries/isSqlInjection_2020.tsv
/src/test/resources/cache_queries/isSqlInjection_2021.tsv
/src/test/resources/cache_queries/isSqlInjection_2022.tsv
/src/test/resources/cache_queries/isSqlInjection_2023.tsv
/src/test/resources/cache_queries/isSqlInjection_2024.tsv
/src/test/resources/cache_queries/isSqlInjection_2025.tsv
/src/test/resources/cache_queries/isSsrf_2015.tsv
/src/test/resources/cache_queries/isSsrf_2016.tsv
/src/test/resources/cache_queries/isSsrf_2017.tsv
/src/test/resources/cache_queries/isSsrf_2018.tsv
/src/test/resources/cache_queries/isSsrf_2019.tsv
/src/test/resources/cache_queries/isSsrf_2020.tsv
/src/test/resources/cache_queries/isSsrf_2021.tsv
/src/test/resources/cache_queries/isSsrf_2022.tsv
/src/test/resources/cache_queries/isSsrf_2023.tsv
/src/test/resources/cache_queries/isSsrf_2024.tsv
/src/test/resources/cache_queries/isSsrf_2025.tsv
/src/test/resources/cache_queries/isXss_2015.tsv
/src/test/resources/cache_queries/isXss_2016.tsv
/src/test/resources/cache_queries/isXss_2017.tsv
/src/test/resources/cache_queries/isXss_2018.tsv
/src/test/resources/cache_queries/isXss_2019.tsv
/src/test/resources/cache_queries/isXss_2020.tsv
/src/test/resources/cache_queries/isXss_2021.tsv
/src/test/resources/cache_queries/isXss_2022.tsv
/src/test/resources/cache_queries/isXss_2023.tsv
/src/test/resources/cache_queries/isXss_2024.tsv
/src/test/resources/cache_queries/isXss_2025.tsv
/src/test/resources/cache_queries/isXxe_2015.tsv
/src/test/resources/cache_queries/isXxe_2016.tsv
/src/test/resources/cache_queries/isXxe_2017.tsv
/src/test/resources/cache_queries/isXxe_2018.tsv
/src/test/resources/cache_queries/isXxe_2019.tsv
/src/test/resources/cache_queries/isXxe_2020.tsv
/src/test/resources/cache_queries/isXxe_2021.tsv
/src/test/resources/cache_queries/isXxe_2022.tsv
/src/test/resources/cache_queries/isXxe_2023.tsv
/src/test/resources/cache_queries/isXxe_2024.tsv
/src/test/resources/cache_queries/isXxe_2025.tsv
/cache_queries/isBypass_2025.tsv
/cache_queries/isCodeExecution_2025.tsv
/cache_queries/isCsrf_2025.tsv
/cache_queries/isDenialOfService_2025.tsv
/cache_queries/isDirectoryTraversal_2025.tsv
/cache_queries/isFileInclusion_2025.tsv
/cache_queries/isGainPrivilege_2025.tsv
/cache_queries/isInformationLeak_2025.tsv
/cache_queries/isMemoryCorruption_2025.tsv
/cache_queries/isOpenRedirect_2025.tsv
/cache_queries/isOverflow_2025.tsv
/cache_queries/isSqlInjection_2025.tsv
/cache_queries/isSsrf_2025.tsv
/cache_queries/isXss_2025.tsv
/cache_queries/isXxe_2025.tsv
/src/test/resources/CVE_by_types/
/src/test/resources/generated_populated_requirements_with_Spyderisk_types.xml
